<nav>
    <ul>
        <a href="/index.html">Home</a>
        <a href="/services.html">Services</a>
        <a href="/contact.html">Contact</a>
        <a href="/blogs.html">Blogs</a>
        <a href="/blogs/create">New Blog</a>
    </ul>
</nav>