<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <!-- Header with the Navigation Menu-->
        <header>
            <%- include('./partials/nav.ejs') %>
        </header>

        <!-- Page Title-->
        <div>
            <h1>PAGE 404...</h1>
            <br>
            <h2>Ooops, does not exist!...</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>


        <!-- Link at bottom of page, leading to Contact Page-->
        <div>
            <%- include('./partials/footer.ejs') %>
        </div>
    </body>

</html>